<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
      </div>
      <form action="{% url 'stripe_checkout' %}" method="POST">
        {% csrf_token %}
        <div class="description">
          <label>{{ product }}</label>
          <input type="hidden" name="name" value="{{ product }}"/>
        </div>
        <div>
          <label>${{ price }}</label>
          <input type="hidden" name="price" value="{{ price }}">          
        </div>
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
  </body>
</html>