{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% sass_src 'css/styles.scss' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>{% block style %}{% endblock style %}</style>
</head>
<body>
    <div class="mx-auto" id="base">
        {% block navbar %}{% endblock navbar %}
        {% block registration %}{% endblock registration %}
        {% block crm %}{% endblock crm %}
        {% block punching %}{% endblock punching %}
        {% block meeting %}{% endblock meeting %}

        {% comment %} {% include 'footer.html' %} {% endcomment %}
    </div>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    {% block main_script_section %}{% endblock main_script_section %}
</body>
</html>