{% extends 'crm/base.html' %}

{% block title %}
    leads create
{% endblock title %}

{% block content %}
    <section class="text-gray-600 body-font">

        <div class="md:w-1/2 pl-5 md:mr-auto md:ml-auto mt-10">
            <a href="{% url 'leads_list' %}" class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Go back to leads list</a>
        </div>
        <div class="container lg:w-1/2 px-5 pt-5 pb-24 mx-auto items-center">
            {% include 'crm/leads/_form.html' with title="Create New Lead" %}
        </div>
    </section>
{% endblock content %}