{% extends 'base.html' %}

{% block content %}

{% if form %}
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <form method="post" class="lg:w-3/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:mr-auto md:ml-auto w-full mt-10 md:mt-0">
            {% csrf_token %}
            <div class="relative mb-4">
                <label for="new_password1" class="leading-7 text-sm text-gray-600">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                <p class="mt-2">{{ form.new_password1.help_text }}</p>
                {% if form.new_password1.errors %}
                    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 mt-2" role="alert">
                        <span class="font-medium">{{ form.new_password1.errors }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="relative mb-4">
                <label for="new_password2" class="leading-7 text-sm text-gray-600">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 mt-2" role="alert">
                        <span class="font-medium">{{ form.new_password2.errors }}</span>
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="mt-5 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-xs w-3/6 ml-auto">Confirm new Password</button>
        </form>
    </div>
{% else %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
                Password reset failed, Please Click <a href="{% url 'login' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">here</a> to try again
            </p>
          </div>
        </div>
    </section>

{% endif %}

{% endblock content %}