{% extends "registration/base.html" %}

{% block content %}



  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <form action="" method="post" class="lg:w-3/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:mr-auto md:ml-auto w-full mt-10 md:mt-0">
        {% csrf_token %}

        <div class="relative mb-4">
          <label for="old_password" class="leading-7 text-sm text-gray-600">{{ form.old_password.label }}</label>
          {{ form.old_password }}
          {% if form.old_password.errors %}
              <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 mt-2" role="alert">
                  <span class="font-medium">{{ form.old_password.errors }}</span>
              </div>
          {% endif %}
      </div>

        <div class="relative mb-4">
            <label for="new_password1" class="leading-7 text-sm text-gray-600">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            <p class="mt-2">{{ form.new_password1.help_text }}</p>
            {% if form.new_password1.errors %}
                <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 mt-2" role="alert">
                    <span class="font-medium">{{ form.new_password1.errors }}</span>
                </div>
            {% endif %}
        </div>

        <div class="relative mb-4">
            <label for="new_password2" class="leading-7 text-sm text-gray-600">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 mt-2" role="alert">
                    <span class="font-medium">{{ form.new_password2.errors }}</span>
                </div>
            {% endif %}
        </div>

        <button type="submit" class="mt-5 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-xs w-3/6 ml-auto">Change Password</button>
    </form>
  </div>

{% endblock %}