{% extends 'base.html' %}

{% block title %}
    category create
{% endblock title %}

{% block content %}

    <section class="text-gray-600 body-font">

        <div class="md:w-2/5 pl-5 md:mr-auto md:ml-auto mt-10">
            <a href="{% url 'categories_list' %}" class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Go back to category list</a>
        </div>

        <div class="container lg:w-2/5 px-5 pt-5 pb-24 mx-auto items-center">
            {% include "category/_form.html" with title="Create New category" %}
        </div>
    </section>

{% endblock content %}